.selectedTableRow {
    background-color: lightblue;
    
}

.genericTable {
    width : 100%;
    border: 1px solid;
    border-collapse: collapse;
}
.genericTable td {
    border: 1px solid;
}
.genericTable th {
    background-color: grey;
    color: lightgrey;
    font-weight: bold;
    border: 1px solid;
}
