.selectedTableRow {
    background-color: lightblue;
    
}

.genericTable {
    width : 100%;
    border: 1px solid;
    border-collapse: collapse;
}
.genericTable td,.genericTable th {
    border: 1px solid;
}
